header{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    flex-wrap: wrap;
}
.headeri{
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    color: rgba(0, 174, 255, 0.452);
    font-weight: bold;
    align-items: center;
    width:275px;
}



.headeri img{
    width: 100px;
    height: auto;
}

ul{
    width: 30%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-family:sans-serif;
}


ul li:hover {
    font-weight: bold;
    cursor: pointer;
    border-bottom: 3px solid indianred;
}

li a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
}

.tekst {
    text-align: center;
    justify-content: flex-start;
    flex-direction: column;
   margin-left: 225px;
   margin-bottom: 150px;
}

.tekst h1{
    font-family: 'Karla', sans-serif;
    font-size: 60px;
    font-weight: lighter;
    color: #000; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.tekst p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.foto {
    flex: 1;
    order: 2; 
    text-align: right;
}

.space {
    height: 50px;
}

.maincontainer2{
display: flex;
width: 100%;
}


.aboutus{
    width: 50%;
    height: 650px;
    background-image: url("banner3.jpg");
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}


.storyline p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.fototekst{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    padding: 20px;
}

.fototekst h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    color: #fff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}

.tekstd {
    width: 50%;
    padding: 20px;
    justify-content: flex-start;
    flex-direction: column;
    font-family: 'Pacifico', cursive;
}

.tekstd p{
    text-align: center;
    font-family: 'Open Sans', sans-serif; 
    margin-top: 250px;
    font-size: large;
    color: #333;
}
.space2{
    height: 80px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



#products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}


.produktet {
    width: 200px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}


.produktet .img {
    width: 100%;
    border-radius: 5px;
}


.name_tags p:first-child {
    margin: 5px 0;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.name_tags p:last-child {
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
} 

.space3{
height: 150px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.wrapper {
    flex: 1;
}
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer-col{
   width: 23%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

body{
    padding: 0;
    margin: 0;
    background-color: floralwhite;
}

h1{
    margin-top: 50px;
    margin-left: 100px;
    font-size: 60px;
    font-family: 'Karla', sans-serif;
    font-weight: lighter;
}
.wrapper {
    display: flex;
    align-items: center; 
}

.slider-frame{
    overflow: hidden;
    height: 600px;
    width: 1200px;
    margin-left: 170px;
    margin-top: 10px;
}

@keyframes slide_animation{
    0% {left:0px;}
    10% {left:0px;}
    20% {left:1200px;}
    30% {left:1200px;}
    40% {left: 2400px;}
    50% {left: 2400px;}
    60% {left: 1200px;}
    70% {left: 1200px;}
    80% {left: 0px;}
    90% {left: 0px;}
    100% {left:0px;}
}

@-webkit-keyframes slide_animation{
    0% {left:0px;}
    10% {left:0px;}
    20% {left:1200px;}
    30% {left:1200px;}
    40% {left: 2400px;}
    50% {left: 2400px;}
    60% {left: 1200px;}
    70% {left: 1200px;}
    80% {left: 0px;}
    90% {left: 0px;}
    100% {left:0px;}
}

.slide-images{
    width: 3600px;
    height: 800px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

.img-container{
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
}

.buy-button {
    margin-left: 170px;
    margin-top: 70px;
    font-size: xx-large;
    font-style: initial;
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000; 
    color: #fefefe; 
    text-decoration: none; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
text-align: center;
}
.buy-button a {
    color: white; 
    text-decoration: none; 
    text-align: center;
}
.buy-button:hover {
    background-color: #000000; /
}
